<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>

<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>

<label for="quiz[tema]">Tema:</label><br/>
       <select name="quiz[tema]">
           <%
               var temas = ["Otro", "Humanidades", "Ocio", "Ciencia", "Tecnología" ];

               for( var i in temas ) {
                   var selected = "";
                   if ( quiz.tema === temas[i] ) {
                      selected = "selected";
                  }
                  %>
                  <option value="<%= temas[i] %>" <%= selected %>><%= temas[i] %></option>
                  <%
              }
          %>
      </select>


<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">